
    <div
      class="container d-flex justify-content-center"
      style="margin-top: 25vh ;"
    >
      <div
        class="rounded-4"
        style="width:600px ; heiht:400px; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;"
      >
      
        <h2 class="text-center mt-4">
          Dashboard
        </h2>
        <h5 class="text-center my-2">
          welcome
          <span class="text-primary mx-3 fs-2">
            {{username}}
          </span>
          to dashboard
        </h5>
        <a href="/logout" class="btn btn-primary mb-4 ms-5">
        
          logout
        </a>

      </div>
    </div>

    